/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

@font-face {
    font-family: calibri;
    src: url(CalibreRegular.woff), src: url(CalibreRegularItalic.woff);
}
/* .HomeSlider .fl-slide.fl-slide-0 .fl-slide-photo-wrap{
	    display: none;
} */
footer ul li a{
	color: #54575a !important;
	font-size: 14px !important;
}
footer ul li a:hover{
	    color: #e21616 !important;
}
footer .storename li .store-opening-hrs-container ul.store-opening-hrs li{
	margin: 15px auto !important;
}
footer .fl-module-content  .fl-icon-wrap:hover *{
	 color: #e21616 !important;
}
header .menu li.mega-menu>.sub-menu h2.fl-heading > a {
    padding: 0px!important;
}
#gform_19 .gfield .address_zip,
.gfield .ginput_container_address .address_zip {
    width: 100% !important;
    padding: 0px;
}
/* .fl-slide-0{
	display: flex !important;
	align-items: center;
	justify-content: center;
} */

.floorvanaForm .gfield .ginput_container select {
    width: 100%!important;
    border-radius: 4px!important;
}

.gfield input[type=checkbox] {
    margin-top: 0px!important;
}

.floorvanaForm .gfield_checkbox label {
    color: #fff!important;
}

.floorvanaForm .gfield_checkbox label:before {
    border-radius: 0px!important;
}

.topBar .menu a {
    line-height: 1.2em!important;
}

.topBar .fl-row-content-wrap {
    padding: 10px 20px!important;
}

.gfield input[type=text] {
    width: 100%!important;
}

.gfield_time_ampm select {
    min-width: 60px!important;
    width: 60px!important;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: 0px!important;
}

.gfield {
    padding-right: 15px!important;
}

.dir_btn a.fl-button {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 200px;
    min-height: 45px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #e21616;
    border: 1px solid #e21616;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.dir_btn a.fl-button:hover {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.add_loc .address p {
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
}

.slider_text h3,
.slider_text p {
    color: #000!important;
}

.HomeSlider .fl-slide-photo-wrap {
    width: auto!important;
}

.clrwht .slider_text h3,
.clrwht .slider_text p {
    color: #fff!important;
}

.covid h3 {
    padding-bottom: 0px!important;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 190px;
    padding: 5px 20px;
}

.slick-prev,
.slick-next {
    background-color: transparent!important;
}

.slick-prev>i:before,
.slick-next>i:before {
    color: #000!important;
}

.slick-prev {
    margin-left: 20px;
}

.slick-next {
    margin-right: 20px;
}

.fl-page .search-row {
    padding-bottom: 60px!important;
}

.custom_searchHeader .fa-search:hover {
    cursor: pointer!important;
}

.gfield_time_ampm>select {
    padding: 12px 2px;
}

#responsive-menu-container #responsive-menu-additional-content .phone a {
    color: #fff!important;
}

#responsive-menu-container #responsive-menu-additional-content .phone a span:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}

#responsive-menu-additional-content {
    padding: 10px 5%!important;
}

#responsive-menu-search-box {
    padding: 18px 5%!important;
}

.product article {
    padding-bottom: 80px!important;
}

.gfield_time_ampm>select {
    padding: 12px 5px!important;
    min-width: 60px!important;
}

.gfield_time_minute>input,
.gfield_time_hour>input {
    padding: 15px 5px!important;
}


/*.featured-product-item .prod-img-wrap > img{
    max-width: 100%!important;
}*/

.page-template-floorte_hardwood .fl-page-content {
    padding-bottom: 80px!important;
}

.featured-products .slick-arrow.slick-prev:before,
.featured-products .slick-arrow:before {
    color: #fff!important;
    margin-right: 4px;
}

.FloorteProductSlider .featured-products .slick-arrow {
    background: #000!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FloorteProductSlider .featured-products .slick-next {
    right: -20px;
    z-index: 10!important;
    opacity: 0.8!important;
    padding: 0px 4px!important;
}

.FloorteProductSlider .featured-products .slick-prev {
    left: -20px;
    z-index: 10!important;
    padding: 0px 4px!important;
    opacity: 0.8!important;
}

.no-btn-skin a:hover>span {
    color: #e21616!important;
}

ul.store-opening-hrs>li {
    position: relative;
}

ul.store-opening-hrs {
    list-style: none;
    padding: 0px;
}

ul.store-opening-hrs>li>span {
    position: absolute;
    right: 60px;
}

@media(min-width: 1024px) {
    .forAlign>div {
        width: 100%!important;
        float: left;
    }
}
@media(max-width: 1340px) {
	.forAlign .uabb-infobox>div>div {
        display: block!important;
    }
    .forAlign .uabb-infobox .uabb-infobox-content {
        width: 100%!important;
    }
}
@media(max-width: 1024px) {
    .HeaderMain .MegaMenu .brex-mega-menu>li>a {
        padding: 0 8px 0 0px!important;
        font-size: 13px!important;
    }
    .HeaderMain .HeaderBtn a {
        font-size: 14px!important;
    }
    .custom_searchModule {
        top: 175px;
    }
    .hideOnLowRes {
        display: none!important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mPad>div {
        margin: 20px!important;
    }
    .forAlign .uabb-infobox>div>div {
        display: block!important;
    }
    .forAlign .uabb-infobox .uabb-infobox-content {
        width: 100%!important;
    }
    .box_styling h2 {
        font-size: 20px!important;
    }
}


@media screen and (max-width: 992px) {
    button#responsive-menu-button {
        width: 40px!important;
        height: 40px!important;
    }
}

@media screen and (max-width: 768px) {
    .max-width-issue {
        max-width: 360px!important;
        margin: 0 auto!important;
    }
/* 	.fl-slide-0 .fl-slide-foreground {
		display: none !important;
	} */
	footer *{
		text-align: center !important; 
	}
	footer .storename li .store-opening-hrs-container ul.store-opening-hrs li{
		text-align: left !important;
	}
	footer .storename li .store-opening-hrs-container ul.store-opening-hrs li {
		margin-left: 70px !important;
	}
    .slider-prev,
    .slider-next {
        background-color: rgba(0, 0, 0, 0.5)!important;
        padding: 6px!important;
    }
    .HomeSlider .fl-slide-content {
        padding: 0px!important;
    }
    .slider_text .uabb-infobox-content .uabb-infobox-title-wrap h3.uabb-infobox-title {
        font-size: 30px!important;
        line-height: 1em!important;
    }
    .HomeSlider .fl-slide-content-wrap .fl-slide-content .fl-slide-text>p {
        margin: 0px!important;
    }
    /* Slider height issue on mobile open */

    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	
        /* Slider height issue on mobile closed */
}

@media (min-width: 736px) and (max-width: 768px) {
    .footerMenu #menu-flooring-menu {
        width: 100%!important;
        text-align: center;
    }
    .footerMenu ul#menu-flooring-menu>li {
        display: inline-block!important;
    }
}

@media (max-width: 735.5px) {
    ul.store-opening-hrs>li>span {
        position: absolute;
        right: 0px;
    }
    .footerMenu ul#menu-flooring-menu>li {
        display: block!important;
    }
    .mobMarz>div {
        margin: 0px!important;
    }
    .gform_footer {
        text-align: center!important;
    }
    .gform_footer>input {
        margin-left: -15px!important;
    }
}


/* New Mega Menu CSS */

header .menu li.mega-menu>.sub-menu {
    width: auto !important;
    margin: 0 -20px !important;
    text-align: left;
    background: none;
    padding-top: 25px;
}

header .menu li.mega-menu>.sub-menu .menu {
    float: none !important;
}

header .menu li.mega-menu>.sub-menu .menu.fl-menu-vertical>li {
    display: block;
}

header .menu li.mega-menu>.sub-menu .fl-menu {
    text-align: left !important;
}

header .menu .address_wrap p,
header .menu .storename li p {
    margin: 0;
    padding: 0;
}

header .menu .storename li .phone {
    padding-top: 3px;
}

header .menu .storename li .phone a {
    color: #54575a;
}

header .menu .storename li .phone a:hover {
    color: #e21616;
}

header .menu .storename+br {
    display: none;
}
@media(max-width:450px){
	footer .storename li .store-opening-hrs-container ul.store-opening-hrs li {
		margin-left: 10px !important;
	}
}